



header .logo-web {
    font-family: "Raleway",
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    padding: 24px 0;
    margin-right: 76px;
}





.adress-element:hover {color: #404bbf;}

.adress-element:focus {color: #404bbf;}

.section-one {
    background-color: #2E2F42;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/img-main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-one .main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffff;
    max-width: 496px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 48px;
}

.main-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffff;
    background-color: #4D5AE5;
    cursor: pointer;
    font-family: "Roboto",
        sans-serif;
    min-width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}





.section-three {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.weird-div {padding: 32px 0;}

.section-three-list {display: flex;
gap: 24px;
flex-basis: calc(100%-72)/4;}

.photo-team {border-radius: 0 0 4px 4px;
 box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

.section-three .list-title {
text-align: center;}

.section-three .section-title {margin-bottom: 72px;
}

.section-three .list-text {
text-align: center;}

.photo-team {background-color: #FFFFFF;}



.networks-list {display: flex;
gap: 24px;
justify-content: center;
align-items: center;
margin-top: 8px;}

.networks-link {
background-color: #4d5ae5;
border-radius: 50%;
justify-content: center;
align-items: center;
display: flex;
height: 40px;
width: 40px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-link:hover,
.networks-link:focus {background-color: #404bbf;}

.networks-team {fill: #f4f4fd;
    align-items: center;
}


.weird-div-also {padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.section-four .section-title {margin-bottom: 72px;}


.footer-section {background-color: #2e2f42;
padding-top: 100px;
padding-bottom: 100px;}

.footer-container {display: flex;
    align-items: baseline;
    }

.footer-logo-text {margin-right: 120px;}

.footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
max-width: 264px;
}

 .footer-logo-web {display: inline-block;
margin-bottom: 16px;
font-family: "Raleway",
    sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;}

 .footer-logo-studio {color: #F4F4FD;}

.footer-networks-block {display: flex;
flex-direction: column;
}

.footer-networks-list {display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    list-style: none;
    }


.footer-networks-link {
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 40px;
    width: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

.footer-networks-link:hover,
.footer-networks-link:focus
 {background-color: #31d0aa;}

.footer-networks-item {fill: #f4f4fd;
align-items: center;
}

.footer-network-text {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    display: flex;
            }

.footer-modal-block {
    margin-left: 80px;
}

.footer-form {display: flex;
gap: 24px;}

.footer-input {border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
padding-left: 16px;
padding-right: 16px;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #ffffff;
}

input::placeholder {color: #ffffff;}

.footer-btn {border-radius: 4px;
    padding: 8px 24px;
    background-color: #4d5ae5;
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
display: flex;
align-items: center;
min-width: 165px;
height: 40px;
justify-content: center;
cursor: pointer;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover {
    background-color: #404bbf;
}

.footer-btn:focus {
    background-color: #404bbf;
}

.footer-btn-icon {fill: #FFFFFF;
margin-left: 16px;}

.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {opacity: 1;
    visibility: visible;
    pointer-events: auto;}

@media screen and (min-width: 736px) {.container {width: 736px;
}

.section-two-item {
        flex-basis: calc((100% - 24px) / 3);
    }

}

